#label {
    display: flex;
    align-content: center;
	min-height: 20%;
	text-align: center;
}

#question {
	display: flex;
    flex: 1 1;
    justify-content: center;
    margin:auto;

}

#reponses{
	display: flex;
	min-height: 75%;
}