.carousel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

.slideShow {
    display: flex;
}

#quizmock {
    visibility: hidden;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: inherit;
}

#row1 {
    flex: 1 1 90%;
    max-height: 90%;
}

#row2 {
    flex: 1 1 10%;
    max-height: 10%;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    user-select: none;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
    overflow: hidden;
}

.fas {
    overflow: hidden;
}