.carousel {
    height: 95%;
    width: 100%;
    overflow: hidden;
}

.slideShow {
    display: flex;
}

#quizmock {
    visibility: hidden;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: inherit;
}

#row1 {
    flex: 1 1 95%;
    max-height: 95%;
}

#row2 {
    flex: 1 1 5%;
    max-height: 5%;
    justify-content: center;
    flex-direction: row;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}