<div class="page">
    <div class=row id="row1">
        <div class="carousel" #carousel>
            <div class="slideShow" #slideshow>
                <ng-template carousel-item-host></ng-template>
                <div class="slide" *ngFor="let slide of slides" #slide>
                    <ng-container *ngFor="let quiz of slide">
                        <ng-template carousel-item-host></ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="nav">
            <div class=box id="box1">
                <i *ngIf="currentSlide > 0" class="fas fa-caret-left fa-2x" (click)="prev()"></i>
            </div>
            <div *ngIf="slides.length > 1" class=box id="box2">
                {{currentSlide+1}}/{{slides.length}}
            </div>
            <div class=box id="box3">
                <i *ngIf="slides.length-1 > currentSlide" class="fas fa-caret-right fa-2x" (click)="next()"></i>
            </div>
        </div>
    </div>
</div>