<div class=labelCard [ngStyle]="{'background': '#'+configService.boxe,'color': '#'+configService.text}">
	<div class=top >
        <div class=box id="box1">
            <i class="fas fa-cogs" (click)="questionSelected()"></i>
        </div>
        <div class=box id="box3">
            <i class="fas fa-trash-alt" (click)="delete()"></i>
        </div>
    </div>
	<div id="question" >
    	{{ question.label }}
    </div>
    <div id="reponses">
    	<ng-container *ngFor="let reponse of question.answers">
            <div id="reponse">
                <i class="fas fa-circle" [ngStyle]="{'font-size': configService.fontSize/3+'px'}"></i>{{reponse.value}}<br>
            </div>
        </ng-container>
    </div>
</div>