<div class=labelCard [ngStyle]="{'font-size': configService.fontSize+'px'}">
    <div>
        <div class=top>
            <div class=box id="box1">
                <i class="fas fa-cogs"></i>
            </div>
            <div class=box id="box2">
                <div>{{quiz.id}}</div>
            </div>
            <div class=box id="box3">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div>Difficulté:
            <i *ngFor="let i of stars" class="fas fa-star"></i></div>
        <div id="nbQuestion">Nombre de question: {{ quiz.questions.length }}</div>
    </div>
</div>