#row1 {
    flex: 1 1 15%;
    max-height: 15%;
}

#row2 {
    flex: 1 1 85%;
    justify-content: flex-start;
    max-height: 85%;
    background-color: cornsilk;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}

#title {
    text-decoration: underline;
}

.carousel {
    height: 100%;
}