#row1 {
    flex: 1 1 calc(10%);
}

#row2 {
    flex: 1 1 calc(80%);
    justify-content: center;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}

input, select{
    border:2px solid black;
}