#titre {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 25px;
}

#exemple {
    padding: 5%;
}

#parametres {
    margin-top: 10%;
}

.parametre {
    padding: 1%;

}

.labelCard {
	font-size: 25px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}


#button {
    margin-top: 60%;
    padding: 2% 50px;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: ridge;
    border-color: #515151;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    border-radius: 4px;
    font-family: Arial Black;
    vertical-align: middle;
    cursor: pointer;
}

#button:hover {
    background-color: #515151;
    color: white;
    box-shadow: none;
}

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}