<div class=page [ngStyle]="{'font-size': defaultFontSize+'px', 'color':'#'+defaultText}">
    <div class=row id="row1" [ngStyle]="{'margin': ' 0% '+ defaultMarginSize+'%'}">
        <div id="titre"> Page de configuration </div>
    </div>
    <div class=row id="row2" [ngStyle]="{'margin': ' 0% '+ configService.marginSize+'%'}">
        <div [ngStyle]="{'font-size': configService.fontSize+'px','background': '#'+configService.boxe, 'color':'#'+configService.text}" class=labelCard id="exemple">Ceci est un texte à lire</div>
    </div>
    <div class=row id="row3" [ngStyle]="{'font-size': defaultFontSize+'px','margin': ' 0% '+ defaultMarginSize+'%', 'color':'#'+defaultText}">
        <div class="labelCard parametre" [ngStyle]="{'background':'#'+defaultBoxe}">Paramètre taille de police:
            <input class=slider onkeypress="return false" type="range" min="25" max="50" [ngStyle]="{'background':'#'+defaultBackground}" [(ngModel)]="configService.fontSize">
        </div>
        <div class="labelCard parametre" [ngStyle]="{'background':'#'+defaultBoxe}">Paramètre de la couleur:
            <app-colorpicker>
            </app-colorpicker>
        </div>
        <div class="labelCard parametre" [ngStyle]="{'background':'#'+defaultBoxe}">Paramètre taille des marges:
            <input class=slider onkeypress="return false" type="range" min="5" max="30" [ngStyle]="{'background':'#'+defaultBackground}" [(ngModel)]="configService.marginSize">
        </div>
    </div>
    <div class=row id="row4" [ngStyle]="{'margin': ' 0% '+ defaultMarginSize+'%'}">
        <button routerLink="/themelist" class=button [ngStyle]="{'font-size': defaultFontSize+'px', 'background':'#'+defaultBoxe,'color':'#'+defaultText}">Continuer</button>
    </div>
</div>