<div class=container>
    <div [ngStyle]="{'font-size': changeSize()}" id="titre"> Page de configuration </div>
    <div [ngStyle]="{'font-size': changeSize()}" class=labelCard id="exemple">Ceci est un texte à lire</div>
    <div id="parametres">
        <div [ngStyle]="{'font-size': changeSize()}" class="labelCard parametre">Paramètre taille de police: <input [ngStyle]="{'font-size': changeSize()}" type="number" min="25" max="100" [(ngModel)]="fontSize"></div>
    </div>
    <div id="buttonContainer">
        <button [ngStyle]="{'font-size': changeSize()}" routerLink="/quiz" id="button">Continuer</button>
    </div>
</div>