<div [ngStyle]="{'font-size': defaultFontSize+'px'}" class=container>
    <div id="titre"> Page de configuration </div>
    <div [ngStyle]="{'font-size': configService.fontSize+'px'}" class=labelCard id="exemple">Ceci est un texte à lire</div>
    <div id="parametres">
        <div class="labelCard parametre">Paramètre taille de police:
            <input class=slider onkeypress="return false" type="range" min="25" max="50" [(ngModel)]="configService.fontSize">
        </div>

    </div>
    <div id="buttonContainer">
        <button routerLink="/quizlist" id="button" [ngStyle]="{'font-size': defaultFontSize+'px'}">Continuer</button>
    </div>
</div>