#box1 {
    justify-content: flex-end;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-start;
}

#question {
    margin: 2%;
    padding: 1%;
}

#reponse {
    margin: 2%;
    padding: 1%;
}

.fa-arrow-alt-circle-right {
    cursor: pointer;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.24);
}

.fa-arrow-alt-circle-left {
    cursor: pointer;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.24);
}