.select-box {
  display: flex;
  flex-direction: column;
  width: 30%;


}

.select-box .options-container {
  background: white;
  max-height: 0;
  opacity: 1;

}

.selected {
  background: white;
  border:solid black;
  padding: 5px 0px 0px 0px;
  min-height: 40px;

}

.option{
  padding: 5px 0px 0px 0px;
  background: white;
  border: 1px solid black;
}

.select-box .option:hover {
  background: gray;
}

.box {
  display:inline-block;
  width: 90%;
  height: 30px;
  border: 1px solid black;
}

.select-box .options-container.active {
  opacity: 0;
}
