<div class="select-box">

        <div class="selected">
        </div>

        <div class="options-container active">
          <div class="option">
            <div class="box background" style="background: #bababa;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #454545;" ></div>
          </div>

          <div class="option">
           <div class="box background" style="background: #825415;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #d0500b;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #b0eea9;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #6c0a0a;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #512244;"></div>
          </div>
        </div>

</div>