<div class="select-box">

        <div class="selected">
        </div>

        <div class="options-container active">
          <div class="option">
            <div class="box background" style="background: #bababa;"></div><div class="box question" style="background: #ffffff;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #454545;" ></div><div class="box question" style="background: #bababa;"></div>
          </div>

          <div class="option">
           <div class="box background" style="background: #825415;"></div><div class="box question" style="background: #c07f25;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #d0500b;"></div><div class="box question" style="background: #7e8889;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #b0eea9;"></div><div class="box question" style="background: #76c36e;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #6c0a0a;"></div><div class="box question" style="background: #b03b3b;"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #512244;"></div><div class="box question" style="background: #945683;"></div>
          </div>
        </div>

</div>