.select-box {
  margin-left: 2%;
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  position:relative;
  top:5px;

}

.select-box .options-container {
  background: white;
  max-height: 0;
  opacity: 1;
  transition: all 0.2s;

}

.selected {
  background: white;
  border:solid black;
  min-height: 35px;
  display:flex;

}

.option{
  background: white;

}

.select-box .option:hover {
  background: gray;
}

.box {
  display:inline-block;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  display: flex;
  transition: all 0.2s;
}

.select-box .options-container.active {
  pointer-events: none; 
  opacity: 0;

}