<div class="select-box">

        <div class="selected" [ngStyle]="{'background': '#'+defaultBackground}">
        </div>

        <div class="options-container active">
          <div class="option">
            <div class="box background" style="background: #bababa;" (click)="changeColor('bababa','ffffff','000000')"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #454545;" (click)="changeColor('3c3c3c','bababa','000000')" ></div>
          </div>

          <div class="option">
           <div class="box background" style="background: #9b5657;" (click)="changeColor('9b5657','594350','f3dbaf')"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #b15524;" (click)="changeColor('b15524','6e9a9e','211c19')"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #83ca8d;" (click)="changeColor('83ca8d','76c36e','343933')"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #7e1f1f;" (click)="changeColor('7e1f1f','b03b3b','dfcb32')"></div>
          </div>

          <div class="option">
            <div class="box background" style="background: #512244;" (click)="changeColor('512244','945683','e5a878')"></div>
          </div>
        </div>

</div>