div {
    white-space: pre;
}

i {
    cursor: pointer;
}

.labelCard {
    cursor: default;
    padding: 15px 10px;
}

.icons {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.labelCard:hover {
    box-shadow: none;
}

.labelCard:hover .icons {
    visibility: visible;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: flex-end;
}