<div class=labelCard [ngStyle]="{'font-size': configService.fontSize+'px','background': '#'+configService.boxe,'color': '#'+configService.text}">
    <div class="icons">
        <div class="box" id="box1">
            <i class="fas fa-cogs" (click)="themeSelected()"></i>
        </div>
        <div class="box" id="box2">
            <i class="fas fa-trash-alt" (click)="delete()"></i>
        </div>
    </div>
    <div>
        {{data.id}}
    </div>
    <div>
        {{getWhiteSpaceString()}}
    </div>
</div>