<div class=page [ngStyle]="{'font-size': configService.fontSize+'px','margin-size':configService.marginSize+'%','color': '#'+configService.text, 'margin':' 0% '+configService.marginSize+'%'}">
    <div class=row id="row1">
        <div class=nav>
            <div class=box id="box1">
                <button class=button [ngStyle]="{'font-size': configService.fontSize+'px','margin-size':configService.marginSize+'%','background': '#'+configService.boxe,'color': '#'+configService.text}" routerLink="/edittheme">Mode Création</button>
            </div>
            <div class=box id="box2">
                <div id="title">Thèmes</div>
            </div>
            <div class=box id="box3" [ngStyle]="{'font-size': (configService.fontSize)+'px','margin-size':configService.marginSize+'%','color': '#'+configService.text}">
                <i class="fa fa-cog fa-2x fa-fw" routerLink="/configuration"></i>
            </div>
        </div>
    </div>

    <div class=row id="row2" style="background-color: blue">

        <div class=themelist>
            <ng-container *ngFor="let t of themes">
                <app-theme [theme]="t"></app-theme>
            </ng-container>
        </div>
    </div>
</div>