#row1 {
    flex: 1 1 calc(10%);
}

#row2 {
    flex: 1 1 calc(90%);
    justify-content: center;
}

#row3 {
    flex: 1 1 calc(10%);
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}

input,
select {
    border: 2px solid black;
}