#title {
    text-decoration: underline;
}

#row1 {
    flex: 1 1 15%;
    max-height: 20%;
}

#row2 {
    flex: 1 1 85%;
    justify-content: flex-start;
    max-height: 85%;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}

.carousel {
    height: 100%;
}