#row1 {
    flex: 1 1 calc(10%);
}

#row2 {
    flex: 1 1 calc(90%);
    justify-content: flex-start;
}

#box1 {
    justify-content: flex-start;
}

#box2 {
    justify-content: center;
}

#box3 {
    justify-content: flex-end;
}

#title {
    text-decoration: underline;
}

.questionlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.questionlist>* {
    box-sizing: border-box;
    margin: 1%;
}
.fa-caret-left {
    cursor: pointer;
}
input{
    border:2px solid black;
    outline:none;
}
#row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1%;
}