<div class=page [ngStyle]="{'font-size': configService.fontSize+'px','margin-size':configService.marginSize+'%','color': '#'+configService.text, 'margin':' 0% '+configService.marginSize+'%'}">
    <div class=row id="row1">
        <div class=nav>
            <div class=box id="box1">
                <i class="fas fa-caret-left fa-2x" routerLink="/edittheme"></i>
            </div>
            <div class=box id="box2">
                <div id="title">{{ theme.id }}</div>
            </div>
            <div class=box id="box3" [ngStyle]="{'font-size': configService.fontSize+'px','color': '#'+configService.text}">
                <i class="fa fa-cog fa-2x fa-fw" routerLink="/configuration"></i>
            </div>
        </div>
    </div>

    <div class=row id="row2">
        <app-carousel [items]="quizzes" [component]="getComponent()" [mock]="getMock()" [add]="add" class="carousel"></app-carousel>
    </div>
</div>