<div class=page [ngStyle]="{'font-size': configService.fontSize+'px','color': '#'+configService.text, 'margin':' 0% '+configService.marginSize+'%'}">
    <div class=row id="row1">
        <div class=nav>
            <div class=box id="box1">
                <i class="fas fa-caret-left fa-2x" routerLink="/edittheme/{{this.route.snapshot.paramMap.get('theme')}}"></i>
            </div>
            <div class=box id="box2">
                <div id="title">{{ quiz.id }}</div>
            </div>
            <div class=box id="box3">
                <i class="fa fa-cog fa-2x fa-fw" routerLink="/configuration"></i>
            </div>
        </div>
    </div>
    <div class=row id="row2">
        <div class=box id="box2">
            <div id="difficulte">
                Changer la difficulté: <input id="number" type="number" min="1" max="3"  value={{quiz.difficulty}} [ngStyle]="{'font-size': configService.fontSize+'px','background': '#'+configService.boxe,'color': '#'+configService.text}">
            </div>
        </div>
        <div class=box id="box2">
            Questions:
        </div>
        <div class=questionlist>
            <ng-container *ngFor="let question of quiz.questions">
                <app-editable-question [quiz]="quiz" [question]="question" (deleteQuiz)="deleteQuiz($event)"></app-editable-question>
            </ng-container>
        </div>
    </div>
    <div class=row id="row4" >
        <button type='submit' [ngStyle]="{'font-size': configService.fontSize+'px','background': '#'+configService.boxe,'color': '#'+configService.text}" class=button id="bouton" (click)="addQuestion()">Ajouter une question</button>
    </div>
</div>